/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package app.cadence.shared.api.apis

import app.cadence.shared.api.models.LogDoseInputBody
import app.cadence.shared.api.models.LogDoseOutputBody
import app.cadence.shared.api.models.PhotoOutputBody
import app.cadence.shared.api.models.PhotoUploadInputBody
import app.cadence.shared.api.models.PhotoUploadOutputBody
import app.cadence.shared.api.models.Problem

import app.cadence.shared.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class DosingApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Record a dose
     * Writes the dose and the day&#39;s diary entry in one transaction — one action, two facts — and answers which of four things happened. The four are a 200 with a body and not HTTP errors: the client branches on them, so they are expected results rather than failures. &#x60;written&#x60; carries the identifiers; &#x60;already_logged&#x60; means every occurrence of that item today is recorded, so a repeat cannot take another dose out of the vial; &#x60;not_scheduled_today&#x60; means the item has no occurrence in the patient&#39;s own day, which is what an app left open across midnight produces; &#x60;incomplete&#x60; means the draft cannot make an event. A repeat carrying the same client_request_id answers what the first answered and writes nothing, and one carrying a different draft is a 409 naming the field that differs. The dose recorded is the one the request carries: the wizard&#39;s dose is editable, and a patient who stepped down from what the course prescribes has done so — the prescription stays in the course, so the two can be compared.
     * @param logDoseInputBody 
     * @return LogDoseOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun logDose(logDoseInputBody: LogDoseInputBody): HttpResponse<LogDoseOutputBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = logDoseInputBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/me/dose-events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * A link to the photograph of a recorded dose
     * Answers a short-lived signed link. The right is decided here, before the link exists: the object store has no row-level security, so the row is read under the caller&#39;s own identity and the link is signed only if the policies handed it over. An invisible row, a missing one and one carrying no photograph are one 404 — which of the three it was is a fact about somebody else&#39;s treatment.
     * @param eventId 
     * @return PhotoOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun readDosePhoto(eventId: kotlin.String): HttpResponse<PhotoOutputBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/me/dose-events/{eventId}/photo".replace("{" + "eventId" + "}", "$eventId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Ask for somewhere to put a dose photograph
     * Answers a signed link to write one object to, and the key to send as &#x60;photo_path&#x60; when the dose is recorded. The key is minted by the server and never taken from the client, so it is always under the caller&#39;s own prefix. The upload happens before the dose exists, which is why this names no dose.
     * @param photoUploadInputBody 
     * @return PhotoUploadOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun startDosePhotoUpload(photoUploadInputBody: PhotoUploadInputBody): HttpResponse<PhotoUploadOutputBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = photoUploadInputBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/me/dose-events/photo-uploads",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
