/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package app.cadence.shared.api.apis

import app.cadence.shared.api.models.CreatedPatient
import app.cadence.shared.api.models.CreatedProvider
import app.cadence.shared.api.models.Me
import app.cadence.shared.api.models.NewPatientBody
import app.cadence.shared.api.models.NewProviderBody
import app.cadence.shared.api.models.Problem
import app.cadence.shared.api.models.RosterPage
import app.cadence.shared.api.models.SessionBody
import app.cadence.shared.api.models.StaffPage

import app.cadence.shared.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class IdentityApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Create a patient and invite them
     * Creates the patient and sends the invitation as one action: the address is invited at the identity provider, and the profile, the card, the care team, the preferences and the record of the invitation are written against the identifier it assigned. The server sets the role; there is no public registration. Answers 403 when the caller may not create patients or is not on the care team they wrote, 409 when the address already belongs to a patient or to an account this clinic did not invite, 422 when the body says something the schema cannot refuse — two leading specialists, one named twice, somebody who is not a provider — and 503 when the provisioner is unreachable.
     * @param newPatientBody 
     * @return CreatedPatient
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createPatient(newPatientBody: NewPatientBody): HttpResponse<CreatedPatient> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = newPatientBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/patients",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Take a doctor on and invite them
     * Creates the doctor and sends the invitation as one action, the way a patient is created. Administrators only, and doctors only: the clinic&#39;s first administrator comes into being through a one-off command under the migration role, and the database refuses any other role from this path. Answers 403 to a caller who is not an administrator, 409 when the address already belongs to somebody this clinic knows or to an account it did not invite, 422 when the address folds to nothing, and 503 when the provisioner is unreachable.
     * @param newProviderBody 
     * @return CreatedProvider
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createProvider(newProviderBody: NewProviderBody): HttpResponse<CreatedProvider> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = newProviderBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/providers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * The patients this member of staff may see
     * The doctor&#39;s registry, on the route §11 names and the one M6 extends rather than replaces. A doctor is answered their assigned patients and an administrator everyone; the selection is the database&#39;s, so reassigning a patient changes the answer with no query edit. Paging is by cursor rather than by offset, because the set changes underneath a doctor as assignments do. Answers 400 for a cursor this server did not issue, 403 to a patient, and 503 when the database could not serve the request.
     * @param cursor Where to continue from, as the previous page&#39;s next_cursor. Absent asks for the first page. (optional)
     * @param limit How many patients the page carries. (optional, default to 8L)
     * @return RosterPage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun dashboardOverview(cursor: kotlin.String? = null, limit: kotlin.Long? = 8L): HttpResponse<RosterPage> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/dashboard/overview",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The authenticated caller
     * Returns the identity the presented token carries, and the caller&#39;s own name. The role is the token&#39;s: changed in the database, it takes effect when the token expires. The name is read from the caller&#39;s own profile row, because nothing else in the API answers a person their own name — it is absent for an account the clinic holds no profile for. Answers 503 when the database could not serve the request.
     * @return Me
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getMe(): HttpResponse<Me> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/me",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The clinic&#39;s staff
     * Everyone a care team may name: the clinic&#39;s doctors and administrators, by name and by the title a patient reads beside it. Staff only — a patient is answered their own care team by the screen that draws it, not this list. The read is authorised here rather than by a policy: no policy lets a doctor read a colleague&#39;s profile, which is why the new-patient form had nobody to offer. Answers 403 to a patient and 503 when the database could not serve the request.
     * @return StaffPage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listProviders(): HttpResponse<StaffPage> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/providers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Report the device&#39;s timezone
     * Records the caller&#39;s timezone against their profile. A patient&#39;s is stored — the schedule, the reminders and the server-side sweep all read it — and the zone is validated there; a doctor&#39;s and an administrator&#39;s are not stored, and the call is answered without a write rather than refused, so one client can serve every role. Answers 400 when a patient&#39;s zone is not one the server knows, 403 when the account has no role yet, and 503 when the database could not serve the request.
     * @param sessionBody 
     * @return void
     */
    open suspend fun recordSession(sessionBody: SessionBody): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = sessionBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/me/session",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
