/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package app.cadence.shared.api.apis

import app.cadence.shared.api.models.CabinetBody
import app.cadence.shared.api.models.HeldBackInputBody
import app.cadence.shared.api.models.LabelPhotoOutputBody
import app.cadence.shared.api.models.LabelUploadInputBody
import app.cadence.shared.api.models.LabelUploadOutputBody
import app.cadence.shared.api.models.NewVialBody
import app.cadence.shared.api.models.Problem
import app.cadence.shared.api.models.VialBody

import app.cadence.shared.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class InventoryApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Put a vial in the cabinet
     * Stores it sealed: an opening date is what «opened» means, and the first dose drawn from a vial is what sets it. The amount is kept in the unit the box carries and converted by nothing here. A label photograph is attached by sending back the key this API minted for it.
     * @param newVialBody 
     * @return VialBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun addVial(newVialBody: NewVialBody): HttpResponse<VialBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = newVialBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/me/vials",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Throw a vial away
     * Marks the day it was thrown away and clears «set aside» in the same write, because the two are opposite ends of one lifecycle and a vial that could not be discarded while set aside would be a dead end. The row stays: the doses drawn from it are history, and a delete would take them with it.
     * @param vialId 
     * @return VialBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun disposeOfAVial(vialId: kotlin.String): HttpResponse<VialBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/me/vials/{vialId}/dispose".replace("{" + "vialId" + "}", "$vialId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Put a vial aside, or take it back
     * A vial the patient has set aside takes part in nothing the server decides for them: it is not opened by a dose, not counted as supply, and does not suppress the reorder hint as a spare. Idempotent — sending the value it already carries answers the same card.
     * @param vialId 
     * @param heldBackInputBody 
     * @return VialBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun holdAVialBack(vialId: kotlin.String, heldBackInputBody: HeldBackInputBody): HttpResponse<VialBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = heldBackInputBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/me/vials/{vialId}/held-back".replace("{" + "vialId" + "}", "$vialId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * The patient&#39;s cabinet
     * Every vial the patient has not thrown away, with what is left in it, how many injections that buys at today&#39;s dose, and the status the screen groups by. None of those three is stored. The reorder hints travel with the shelf they are about.
     * @return CabinetBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun readCabinet(): HttpResponse<CabinetBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/me/vials",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * One vial, including one thrown away
     * The same computed fields the cabinet answers, for a single vial — a disposed one included, because its card is the history of what was drawn from it. A vial that is not here and one that is not the caller&#39;s are one 404.
     * @param vialId 
     * @return VialBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun readVial(vialId: kotlin.String): HttpResponse<VialBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/me/vials/{vialId}".replace("{" + "vialId" + "}", "$vialId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * A link to the photograph of a vial&#39;s label
     * Answers a short-lived signed link. The right is decided here, before the link exists: the object store has no row-level security, so the vial is read under the caller&#39;s own identity and the link is signed only if the policies handed the row over. An invisible vial, a missing one and one with no label photograph are one 404.
     * @param vialId 
     * @return LabelPhotoOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun readVialLabelPhoto(vialId: kotlin.String): HttpResponse<LabelPhotoOutputBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/me/vials/{vialId}/label-photo".replace("{" + "vialId" + "}", "$vialId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * A link to upload a photograph of a vial&#39;s label
     * Answers a short-lived link that writes exactly one object, and the key to send back with the vial. The key is minted here and prefixed with the caller&#39;s own identifier: a client choosing its own could write under somebody else&#39;s prefix, and the store has no row-level security to stop it.
     * @param labelUploadInputBody 
     * @return LabelUploadOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun startLabelPhotoUpload(labelUploadInputBody: LabelUploadInputBody): HttpResponse<LabelUploadOutputBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = labelUploadInputBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/me/vials/label-photo-uploads",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
