/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package app.cadence.shared.api.apis

import app.cadence.shared.api.models.Problem
import app.cadence.shared.api.models.RecordInputBody
import app.cadence.shared.api.models.RecordedBody
import app.cadence.shared.api.models.TrendBody
import app.cadence.shared.api.models.TrendsBody

import app.cadence.shared.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class MeasurementsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Remove one reading the patient typed
     * Removes one of the patient&#39;s own hand-typed readings — a typo is corrected by deleting the point and entering it again, because a reading is a clinical fact and rewriting one would leave no trace that it had been. A reading this patient does not hold answers 404, and so does an identifier nobody holds: the two cannot differ, or the status alone would report whether another patient&#39;s reading exists. Their own imported reading answers 409 and says why — that row IS on their screen, so calling it absent would be a lie, and the sample returns on the next sync anyway.
     * @param id The reading, as the point on the axis carries it.
     * @return void
     */
    open suspend fun deleteMeasurement(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/me/measurements/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter metric
     */
    @Serializable
    enum class MetricGetMetricTrend(val value: kotlin.String) {
        
        @SerialName(value = "weight")
        weight("weight"),
        
        @SerialName(value = "hrv")
        hrv("hrv"),
        
        @SerialName(value = "rhr")
        rhr("rhr"),
        
        @SerialName(value = "sleep")
        sleep("sleep"),
        
        @SerialName(value = "bodyfat")
        bodyfat("bodyfat"),
        
        @SerialName(value = "waist")
        waist("waist"),
        
        @SerialName(value = "hip")
        hip("hip"),
        
        @SerialName(value = "chest")
        chest("chest")
        
    }


    /**
     * enum for parameter window
     */
    @Serializable
    enum class WindowGetMetricTrend(val value: kotlin.String) {
        
        @SerialName(value = "7d")
        _7d("7d"),
        
        @SerialName(value = "4w")
        _4w("4w"),
        
        @SerialName(value = "3m")
        _3m("3m"),
        
        @SerialName(value = "cycle")
        cycle("cycle")
        
    }

    /**
     * One metric with the prescription under it
     * The detail screen: one metric&#39;s points over the window, and the strip of prescription drawn beneath them — the dose bands of the patient&#39;s last course and the days it started or was titrated, both clipped to the window. The strip follows the titrating position of the course, falling back to the first injectable one, whose flat band is the prescribed dose; a course with no injections draws no strip, and neither does a cancelled one, whose days still make the window. A metric that was never measured answers an empty list of points rather than a 404 — that it is unmeasured is the answer.
     * @param metric 
     * @param window The span to draw. The cycle window is the last course&#39;s geometry, so its width depends on the course rather than on the calendar. (optional, default to Window._3m)
     * @return TrendBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getMetricTrend(metric: MetricGetMetricTrend, window: WindowGetMetricTrend? = WindowGetMetricTrend._3m): HttpResponse<TrendBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        window?.apply { localVariableQuery["window"] = listOf("${ window.value }") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/me/trends/{metric}".replace("{" + "metric" + "}", "${ metric.value }"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter window
     */
    @Serializable
    enum class WindowGetTrends(val value: kotlin.String) {
        
        @SerialName(value = "7d")
        _7d("7d"),
        
        @SerialName(value = "4w")
        _4w("4w"),
        
        @SerialName(value = "3m")
        _3m("3m"),
        
        @SerialName(value = "cycle")
        cycle("cycle")
        
    }

    /**
     * Every metric over one window
     * The trends list: one window, all eight metrics in the order they are enumerated, the ones never measured included — a patient has to be able to find out that a metric is unmeasured, and a dropped entry says nothing. Each carries the unit it is read in, the way it has to move, and the clinical bound where there is one; three of the eight have one and the rest carry null rather than a zero that would read as «any reading clears it». The answer is dated in the patient&#39;s own zone, and carries it: without it a client bins the points into its own days and a reading admitted at the window&#39;s edge is drawn beyond it. &#x60;cycle&#x60; is the geometry of the patient&#39;s last course — its start through today or its last prescribed day, whichever is earlier — and its range is null for a patient with no course and for one whose course has not started. Nothing derived travels: the base, the latest, the delta, the average, the extremes and the movement are arithmetic over the points, and a second definition of them here is a second truth free to disagree.
     * @param window The span to draw. The cycle window is the last course&#39;s geometry, so its width depends on the course rather than on the calendar. (optional, default to Window._3m)
     * @return TrendsBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getTrends(window: WindowGetTrends? = WindowGetTrends._3m): HttpResponse<TrendsBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        window?.apply { localVariableQuery["window"] = listOf("${ window.value }") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/me/trends",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Write one reading the patient typed
     * Records one hand-typed reading and answers the row that was written. The unit is the server&#39;s — it is a function of the metric, so a request cannot carry one — and so is the source, which is why the reply reads it back off the row rather than asserting it: a hand-typed reading cannot claim to have come off a watch. Seven metrics can be written where both reads answer eight: the sleep score is computed from imported sessions, and there is no number for a patient to type. Answers 422 for a reading measured after it was recorded, for a value outside what the metric can plausibly read — a slipped decimal point, not a reading the clinic would worry about, which is what the threshold is for — and for a note of nothing but whitespace.
     * @param recordInputBody 
     * @return RecordedBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun recordMeasurement(recordInputBody: RecordInputBody): HttpResponse<RecordedBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = recordInputBody

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/me/measurements",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
