/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package app.cadence.shared.api.apis

import app.cadence.shared.api.models.Course
import app.cadence.shared.api.models.CourseOutputBody
import app.cadence.shared.api.models.DayOutputBody
import app.cadence.shared.api.models.Problem
import app.cadence.shared.api.models.ScheduleOutputBody
import app.cadence.shared.api.models.TodayBody

import app.cadence.shared.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import io.ktor.http.Headers
import io.ktor.http.HttpHeaders
import io.ktor.http.ContentType
import io.ktor.http.content.PartData
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ProtocolApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Prescribe a course
     * Writes a course, its items and their titration phases in one transaction, signed with an audit record. Only for a patient on the caller&#39;s own care team; an admin prescribes for anyone. A drug is named by its directory identifier or by its name — a name already in the directory resolves to the row it has, whatever its case and spacing, rather than entering a second one. Phases of one item may leave gaps between them and may not overlap. Answers 409 when the patient already has a course running: a course is ended by completing or cancelling it, not by being replaced.
     * @param patientId The patient the course is for.
     * @param course 
     * @return CourseOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createProtocol(patientId: kotlin.String, course: Course): HttpResponse<CourseOutputBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = course

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/patients/{patientId}/protocols".replace("{" + "patientId" + "}", "$patientId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * The occurrences of one day
     * What the sheet that opens on a tap draws: every occurrence of that day with its time, its dose and its state. Generated rather than stored — there is no schedule table, so a course edited yesterday changes what yesterday&#39;s day says about tomorrow.
     * @param date The day to open. Defaults to the patient&#39;s today. (optional)
     * @return DayOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getScheduleDay(date: kotlinx.datetime.LocalDate? = null): HttpResponse<DayOutputBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        date?.apply { localVariableQuery["date"] = listOf("$date") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/me/schedule/day",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * A month of the calendar
     * One cell per day of the month, every day of it — days prescribing nothing included, because the calendar draws a month and the window&#39;s arithmetic is the server&#39;s: it came from the patient&#39;s own zone. Each cell carries the cycle week, whether an injection falls that day, whether anything is still pending and whether everything is done. A day with nothing prescribed and a day whose occurrences were all missed are both neither pending nor done; the client tells them apart by opening the day.
     * @param month The month to draw, as YYYY-MM. Defaults to the one the patient is in. (optional)
     * @return ScheduleOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getScheduleMonth(month: kotlin.String? = null): HttpResponse<ScheduleOutputBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        month?.apply { localVariableQuery["month"] = listOf("$month") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/me/schedule",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The patient&#39;s day
     * Everything the hero screen draws: the day and the part of it in the patient&#39;s own zone, the cycle week, the next injection still open with the drug it names, the week&#39;s prescription strip, whether a dose was logged today, the open vial&#39;s remaining doses, a reorder hint, the next titration step and the injection zone to suggest. Fields of contexts that are not built — nutrition and measurements — are null rather than zero: an absent value is a dash on the screen, and a zero is a sentence about a prescription that does not exist. A patient with no running course still gets the day, the part of it and the suggested zone.
     * @return TodayBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getToday(): HttpResponse<TodayBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/me/today",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Rewrite a course
     * Replaces a course&#39;s items and their phases, keeping the course and its identifier. The items are replaced rather than patched — the form sends a list, not a patch — except that an item the patient has already injected cannot be removed: the doses that answered it are the clinic&#39;s record, and such an item is stopped by marking it not loggable. Answers 404 for a course that is not this patient&#39;s, which is the same answer an identifier nobody holds gets.
     * @param patientId The patient the course is for.
     * @param protocolId The course being rewritten.
     * @param course 
     * @return CourseOutputBody
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun replaceProtocol(patientId: kotlin.String, protocolId: kotlin.String, course: Course): HttpResponse<CourseOutputBody> {

        val localVariableAuthNames = listOf<String>("bearer")

        val localVariableBody = course

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/patients/{patientId}/protocols/{protocolId}".replace("{" + "patientId" + "}", "$patientId").replace("{" + "protocolId" + "}", "$protocolId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
